@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@1,600&display=swap');

body{

    margin : 10px 80px;
    font-family: 'Source Sans Pro', sans-serif;
}


nav{
    display : flex;
    flex-wrap:wrap;
    justify-content:space-between;
}
nav h1{
    font-family: 'Source Sans Pro', sans-serif; 
    font-size: 40px;
}
nav .onglets{
    margin-top: 35px;
}
nav .onglets a{
    text-decoration: none;
    color: rgb(30, 167, 217)
    margin-right: 10 px
}
    
h1{

    color : orange;
}